body {
    /* background-image: url("./img/cyberpunkBackground.jpg"); */
    margin: 0;
    overflow: hidden;
}

.b1 {
    position: relative;
    z-index: 1;
}

.b2 {
    position: relative;
    z-index: 0;
}